<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit province</title>
</head>
<body>
<th:block th:each="c : ${city}">
    <table>
        <tr>
            <td>Name:</td>
            <td type="text" th:text="*${c.name}"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td type="text" th:text="*${c.country}"></td>
        </tr>
        <tr>
            <td>Area:</td>
            <td type="text" th:text="*${c.area}"></td>
        </tr>
        <tr>
            <td>Population:</td>
            <td type="text" th:text="*${c.population}"></td>
        </tr>
        <tr>
            <td>Decription:</td>
            <td type="text" th:text="*${c.dicreption}"></td>
        </tr>
    </table>
</th:block>
</form>
</body>
</html>