<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit province</title>
</head>
<body>
    <table>
        <tr>
            <td>Name:</td>
            <td type="text" th:text="${city.name}"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td type="text" th:text="${city.country}"></td>
        </tr>
        <tr>
            <td>Area:</td>
            <td  th:text="${city.area}"></td>
        </tr>
        <tr>
            <td>Population:</td>
            <td th:text="${city.population}"></td>
        </tr>
        <tr>
            <td>Decription:</td>
            <td type="text" th:text="${city.dicreption}"></td>
        </tr>
    </table>
</form>
</body>
</html>